@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: linear-gradient(279deg, #0abcf9 0%, #2c69d1 74%);
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
}
::selection{
  /* background: #fa4299; */
  color: #fff;
}
.wrapper{
  overflow: hidden;
  max-width: 590px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 40px 20px rgba(0,0,0,0.1);
}
.wrapper .title-text{
  display: flex;
  width: 200%;
}
.wrapper .title{
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .slide-controls{
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.slide-controls .slide{
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-controls label.signup{
  color: #000;
}
.slide-controls .slider-tab{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  /* background: -webkit-linear-gradient(left, #a445b2, #fa4299); */
  background: linear-gradient(315deg, #0abcf9 0%, #2c69d1 74%);
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
input[type="radio"]{
  display: none;
}
#signup:checked ~ .slider-tab{
  left: 50%;
}
#signup:checked ~ label.signup{
  color: #fff;
  cursor: default;
  user-select: none;
  background: linear-gradient(315deg, #0abcf9 0%, #2c69d1 74%);;
}
#signup:checked ~ label.login{
  color: #000;
  
}
#login:checked ~ label.signup{
  color: #000;
  
}
#login:checked ~ label.login{
  cursor: default;
  user-select: none;
  background: linear-gradient(315deg, #0abcf9 0%, #2c69d1 74%);
}
.wrapper .form-container{
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner{
  display: flex;
  width: 200%;
}
.form-container .form-inner form{
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-inner form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
.form-inner form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.form-inner form .field input:focus{
  border-color: #5c7bda;
  /* box-shadow: inset 0 0 3px #fb6aae; */
}
.form-inner form .field input::placeholder{
  color: #999;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder{
  color: #b3b3b3;
}
.form-inner form .pass-link{
  margin-top: 5px;
}
.form-inner form .signup-link{
  text-align: center;
  margin-top: 30px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a{
  color: #4282fa;
  text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover{
  text-decoration: underline;
}
form .btn{
  height: 50px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
form .btn .btn-layer{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: linear-gradient(315deg, #0abcf9 0%, #2c69d1 74%);
  border-radius: 5px;
  transition: all 0.4s ease;;
}
form .btn:hover .btn-layer{
  left: 0;
}
form .btn input[type="submit"]{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(315deg, #0abcf9 0%, #2c69d1 74%);
}

/* resetting browser stuff */
*     {
  box-sizing: border-box;
}
/* html,
body   {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
} */

/* styling our overall page */
body     {
  /* background: #FFF; */
  font-family: Arial, Helvetica, sans-serif;
}

/* styling our header */
header   {
  /* background: #222; */
  color: #FFF;
  padding: 20px 30px;
}

/* logo */
#logo         {
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  width: 49%;
}
#logo img    {
  width: 50px;
  border-radius: 3px;
  margin-right: 8px;
  vertical-align: middle;
}
#logo span   {
  display: inline-block;
}

/* main navigation */
nav     {
  width: 210%;
  display: inline-block;
  text-align: right;
}
nav ul   {
  list-style: none;
  margin: 0;
}
nav ul li {
  display: inline-block;
}
nav ul li a    {
  color: #FFF;
  /* padding: 0px 84px; */
  transform: translate(326px, -28px);
  text-decoration: none;
  display: block;
  /* padding: 10px 15px; */
  border-radius: 3px;
  transition: 0.3s ease all;
}

/* styling our footer */
footer   {
  
  padding: 40px;
  text-align: center;
}
footer img   {
  display: block;
  border-radius: 5px;
  width: 80px;
  margin: 0 auto 10px;
}

/* styling our main content */
.hero           {
  min-height: 607px;
  text-align: center;
  background-image: url('https://images.unsplash.com/photo-1515549832467-8783363e19b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTN8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
  background-size: cover;
}
.hero-content   {
  color: #000;
  padding-top: 130px;
}
.hero-content h1   {
  font-size: 100px;
  margin: 0;
}
.hero-content p    {
  font-size: 50px;
  color: #000;
}
.hero-content a    {
  display: inline-block;
  color: #000;
  border: 3px solid #000;
  border-radius: 3px;
  padding: 15px 30px;
  margin-right: 20px;
  text-decoration: none;
  font-size: 28px;
}

/* basic site sections */
.site-section   {
  padding-bottom: 50px;
  padding-top: 50px;
  width: 1076px;
  height: 405px;
}
.site-section-secondary   {
  background: #EFEFEF;
}
.site-section-inside   {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.section-header {
  text-align: center;
  margin-bottom: 30px;
}
.section-header h2  {
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  color: #000;
}

/* feature boxes */
.feature-box   {
  display: inline-block;
  width: 33%;
  background: white;
  padding: 20px 40px;
  box-shadow: 0 25px 11px 0 rgb(0 0 0 / 8%), 0 9px 20px 0 rgb(0 0 0 / 16%);
}
.feature-box img  {
  margin-bottom: 12px;
  width: 80px;
}
.feature-box h5   {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0;
}
#box2{
  padding-right: 20px;
}

/* testimonial boxes */
.testimonial-box   {
  display: inline-block;
  width: 33%;
  /* box-shadow: 0 25px 11px 0 rgb(0 0 0 / 8%), 0 9px 20px 0 rgb(0 0 0 / 16%); */

  padding: 20px 30px;
}
.testimonial-content   {
  background: #FFF;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 15px;
}
.testimonial-author {

}
.testimonial-author img {
  float: left;
  width: 80px;
  border-radius: 50%;
  margin-right: 15px;
  vertical-align: middle;
}
.testimonial-author h5   {
  font-size: 18px;
  margin: 0;
  padding-top:15px;
}
.testimonial-author span {
  font-size: 14px;
}
